.header {
    position: absolute;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    .header__button {
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .header__menu {
        display: none;
    }
}

.menu__mobile {
    position: absolute;
    background: $black;
    width: 100%;
    height: 80%;
    padding: 1rem;

    div{
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .mobile__button {
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }

    ul {
        padding: 6rem 0;
    }
    

    .mobile__link {
        padding: 1rem;

        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.3rem;
            color: $white;
            font-family: $alata;
        }
    }
}

.mobile__active {
    display: none;
}



@media screen and (min-width: 1024px) {
    .header{
        padding: 3rem 7rem;
        
        .header__button{
            display: none;
        }

        .header__menu {
            display: flex;
            align-items: center;
    
            .menu__list {
                display: flex;
                gap:20px;
                list-style: none;

                .list__link{

                    a {
                        color: white;
                        text-decoration: none;
                        font-family: $alata;
                        font-size: .9rem;
                    }

                    a:hover {
                        color: $dark-gray;
                        transition: 1s;
                    }
                }
            }
        }

    }
    .menu__mobile {
        display: none;
    }
}