.secundary {
    text-align: center;
    padding: 5rem 0;
    
    .secundary__image {
        
        width: calc(100% - 4rem);

    }

    .secundary__content {
        padding: 2rem;

        .content__title {
            text-transform: uppercase;
            font-family: $josefin;
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 3px;
        }

        .content__description {
            padding: 1rem 0;
            font-family: $alata;
            color: $dark-gray;
            font-size: 1rem;
            line-height: 1.8rem;
            letter-spacing: 1px;

        }
    }

}