.secundary {
    text-align: center;
    padding: 5rem 0;
    
    .secundary__image {
        
        width: calc(100% - 4rem);

    }

    .secundary__content {
        padding-top: 2rem;

        .content__title {
            text-transform: uppercase;
            font-family: $josefin;
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 3px;
        }

        .content__description {
            font-family: $alata;
            color: $dark-gray;
            font-size: 1rem;
            line-height: 1.8rem;
            letter-spacing: 1px;
            padding: 2rem;
        }
    }

}

@media screen and (min-width: 768px) {
    .secundary {
        padding: 5rem;
    }
    .secundary > div {
        width: calc(60% - 5rem);
    }
    

    .secundary .secundary__content {
        background: $white;
        width: calc(30% - 5rem);
        height: 450px;
        position: relative;
        top: -380px;
        left: 720px;
        padding: 6rem;
    }
}