@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.header {
  position: absolute;
  width: 100vw;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.header .header__button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.header .header__menu {
  display: none;
}

.menu__mobile {
  position: absolute;
  background: hsl(0, 0%, 0%);
  width: 100%;
  height: 80%;
  padding: 1rem;
}
.menu__mobile div {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.menu__mobile div .mobile__button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu__mobile ul {
  padding: 6rem 0;
}
.menu__mobile .mobile__link {
  padding: 1rem;
}
.menu__mobile .mobile__link a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: hsl(0, 0%, 100%);
  font-family: "Alata", sans-serif;
}

.mobile__active {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 3rem 7rem;
  }
  .header .header__button {
    display: none;
  }
  .header .header__menu {
    display: flex;
    align-items: center;
  }
  .header .header__menu .menu__list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .header .header__menu .menu__list .list__link a {
    color: white;
    text-decoration: none;
    font-family: "Alata", sans-serif;
    font-size: 1.1rem;
  }
  .header .header__menu .menu__list .list__link a:hover {
    color: hsl(0, 0%, 55%);
    transition: 1s;
  }
  .menu__mobile {
    display: none;
  }
}
.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.primary .primary__title {
  width: calc(100% - 4rem);
  text-transform: uppercase;
  font-weight: 50;
  border: 3px solid white;
  color: white;
  font-size: 2.3rem;
  font-family: "Alata", sans-serif;
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .primary {
    justify-content: flex-start;
    background-image: url("../images/desktop/image-hero.jpg");
    background-position: center;
    height: 50vh;
  }
  .primary .primary__title {
    width: 40%;
    margin: 5rem 0 0 7rem;
    font-size: 2rem;
    padding: 1.5rem;
  }
}
.secundary {
  text-align: center;
  padding: 5rem 0;
}
.secundary .secundary__image {
  width: calc(100% - 4rem);
}
.secundary .secundary__content {
  padding-top: 2rem;
}
.secundary .secundary__content .content__title {
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 3px;
}
.secundary .secundary__content .content__description {
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 55%);
  font-size: 1rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .secundary {
    padding: 5rem;
  }
  .secundary > div {
    width: calc(60% - 5rem);
  }
  .secundary .secundary__content {
    background: hsl(0, 0%, 100%);
    width: calc(30% - 5rem);
    height: 450px;
    position: relative;
    top: -380px;
    left: 720px;
    padding: 6rem;
  }
}
.galerry {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
  justify-content: center;
}
.galerry .galerry__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.galerry .galerry__card {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
}
.galerry .galerry__card .card__image-desktop {
  display: none;
}
.galerry .galerry__card .card__title {
  width: 50%;
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 100;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.galerry .deep {
  background-image: url("../images/mobile/image-deep-earth.jpg");
  background-size: cover;
  background-position: center;
}
.galerry .night {
  background-image: url("../images/mobile/image-night-arcade.jpg");
  background-size: cover;
}
.galerry .soccer {
  background-image: url("../images/mobile/image-soccer-team.jpg");
  background-size: cover;
}
.galerry .grid {
  background-image: url("../images/mobile/image-grid.jpg");
  background-size: cover;
}
.galerry .vr {
  background-image: url("../images/mobile/image-from-above.jpg");
  background-size: cover;
}
.galerry .pocket {
  background-image: url("../images/mobile/image-pocket-borealis.jpg");
  background-size: cover;
}
.galerry .curiosity {
  background-image: url("../images/mobile/image-curiosity.jpg");
  background-size: cover;
}
.galerry .make {
  background-image: url("../images/mobile/image-fisheye.jpg");
  background-size: cover;
}
.galerry .galerry__button {
  text-align: center;
  width: 50%;
  border: 2px solid #000;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding: 1rem 2rem;
  justify-self: center;
}
.galerry .button {
  display: flex;
  justify-content: center;
  padding: 2rem 0 5rem 0;
}

@media screen and (min-width: 1024px) {
  .galerry .galerry__card .card__image-mobile {
    display: none;
  }
}
.footer {
  background: hsl(0, 0%, 0%);
  text-align: center;
  padding: 3rem;
  color: hsl(0, 0%, 100%);
}
.footer .footer__menu {
  padding: 1rem;
  list-style: none;
}
.footer .footer__menu li {
  padding: 1rem;
}
.footer .footer__menu li a {
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
  text-decoration: none;
}
.footer .footer__menu li a:hover {
  border-bottom: 4px solid hsl(0, 0%, 100%);
}
.footer div {
  padding: 1rem;
}
.footer div a {
  padding: 0 0.5rem;
  cursor: pointer;
}
.footer p {
  padding: 1rem;
}/*# sourceMappingURL=style.css.map */